<footer>
    <div class="panel-holder" *ngIf="!isNullOrUndefined(selection.tile.value) && selection.tile.value.discovered">
        <div class="panel">
            <app-tile-armies></app-tile-armies>
            <app-settlement *ngIf="!isNullOrUndefined(selection.settlement.value)"></app-settlement>
            <app-tile></app-tile>
        </div>
        <div class="panel" *ngIf="!isNullOrUndefined(selection.army.value)">
            <app-army></app-army>
            <app-unit *ngIf="!isNullOrUndefined(selection.settlement.value)"></app-unit>
        </div>
    </div>
</footer>