<div *ngIf="selection.armySelected()">
        <span [style]="sanitizer.bypassSecurityTrustStyle(selection.army.value.bannerStyle)">
            {{selection.army.value.owningEmpire.capital.nameSingular}} Army
        </span>
    <div class="unit-list">
        <div *ngFor="let unit of selection.army.value.units; let i = index" class="unit-tile">
            <img [src]="gfx[unit.image[0]][unit.image[1]].src">
            <div class="unit-name">
                {{unit.name}}
            </div>
        </div>
    </div>
</div>
