$text-light: white;
$text-medium: palegoldenrod;
$border-light: sandybrown;
$border-dark: saddlebrown;
$background: black;

@font-face {
  font-family: roe2Title;
  src: url(assets/fonts/TrajanPro-Bold.otf) format('opentype')
}
