@import 'variables';

.unit-tile {
    position: relative;
    height: 64px;
    width: 48px;
    font-size: x-small;
    border: 1px solid $border-light;
    margin: 2px;
}

.unit-name {
    background-color: $background;
    position: absolute;
    bottom: 0;
    width:100%;
}

.unit-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2px;
    width:100%;
}