@import 'variables';

.unit-tile {
    position: relative;
    height: 64px;
    width: 48px;
    font-size: x-small;
    border: 1px solid $border-light;
    margin: 2px;
}

.unit-name {
    background-color: $background;
    position: absolute;
    bottom: 0;
    width:100%;
}

.unit-list {
    list-style: none;
    display:flex;
    flex-flow: row;
    width: 100px;
}