/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/_css/mat-dialog.scss";
@import "app/_css/basic-ui.scss";
@import "app/_css/panel.scss";
@import "app/_css/army-cards.scss";
@import "app/_css/unit-cards.scss";

body {
    margin: 0;
}
